/* ==========================================================================
   Author
   ========================================================================== */
.author {
  .author-image {
    width: 100px;
    height: 150px;
    overflow: hidden;
  }

  .author-social {
    float: right;
  }

  .author-name {
    font-family: 'PT Serif', serif;
    margin: 0 0 10px;
    position: relative;
    padding-bottom: 15px;
    font-size: 16px;
    text-transform: uppercase;
    color: $primary-text-color;
    font-weight: 700;
  }

  p {
    font-size: 16px;
    margin: 0 0 10px;
  }
}

#author-social {
  float: right;
}
