<section class="comments" id="comment-section">
  {% if site.data.comments[page.slug] %}
  <!-- Existing comments -->
  <div class="comments__existing">
    <h2>Comments</h2>
    {% assign comments = site.data.comments[page.slug] | where_exp: "item", "item.replying_to_uid == ''" %}
    {% assign comments_by_date = comments | sort: 'date' | reverse %}
    <!-- List main comments in reverse date order, newest first. List replies in date order, oldest first. -->
    {% for comment in comments_by_date %}
    {%- assign email           = comment.email %}
    {%- assign name            = comment.name %}
    {%- assign url             = comment.url %}
    {%- assign date            = comment.date %}
    {%- assign message         = comment.message %}
    {%- assign uid             = comment._id %}
    {% include /Staticman/Comment.html is_reply=false uid=uid replying_to=0 email=email name=name url=url date=date message=message uid=uid %}
    {% endfor %}
  </div>
  {% endif %}

  <!-- New comment form -->
  <div id="respond" class="comment__new">
    {% include /Staticman/Comment_Form.html %}
  </div>
</section>

<script src="{{ '/assets/js/Comments.js' | relative_url }}"></script>
{% if site.preferences.reCaptcha.enabled %}
<script src="https://www.google.com/recaptcha/api.js"></script>
{% endif %}

{% if site.repository and site.prefrences.comments.staticman.branch %}
  <script>
    (function ($) {
    $('#new_comment').submit(function () {
      var form = this;

      $(form).addClass('disabled');
      $('#comment-form-submit').html('<i class="fas fa-spinner fa-spin fa-fw"></i> {{ site.data.ui-text[site.locale].loading_label | default: "Loading..." }}');

      $.ajax({
        type: $(this).attr('method'),
        url: $(this).attr('action'),
        data: $(this).serialize(),
        contentType: 'application/x-www-form-urlencoded',
        success: function (data) {
          $('#comment-form-submit').html('{{ site.data.ui-text[site.locale].comment_btn_submitted | default: "Submitted" }}');
          $('.page__comments-form .js-notice').removeClass('notice--danger');
          $('.page__comments-form .js-notice').addClass('notice--success');
          showAlert('{{ site.data.ui-text[site.locale].comment_success_msg | default: "Thanks for your comment! It will show on the site once it has been approved." }}');
        },
        error: function (err) {
          console.log(err);
          $('#comment-form-submit').html('{{ site.data.ui-text[site.locale].comment_btn_submit  | default: "Submit Comment" }}');
          $('.page__comments-form .js-notice').removeClass('notice--success');
          $('.page__comments-form .js-notice').addClass('notice--danger');
          showAlert('{{ site.data.ui-text[site.locale].comment_error_msg | default: "Sorry, there was an error with your submission. Please make sure all required fields have been completed and try again." }}');
          $(form).removeClass('disabled');
        }
      });

      return false;
    });

    function showAlert(message) {
      $('.page__comments-form .js-notice').removeClass('hidden');
      $('.page__comments-form .js-notice-text').html(message);
    }
  })(jQuery);
  </script>
{% endif %}
