<header>
  {%- if page.permalink != "/" -%}
  <div class="main-site-subheader disable-select" id="scroll-head">
      <div class="back-icon" onclick="window.location.assign('/');">
          <svg class="ripple" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M21 11H6.83l3.58-3.59L9 6l-6 6 6 6 1.41-1.41L6.83 13H21z"/>
          </svg>
      </div>
      <p class="back-p">Home</p>
  </div>
  {%- endif -%}
  {%- if site.preferences.search.enabled -%}
    <div class="searchbar search-container">
      <svg class="search-icon" width="19" height="19" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M11.5 19.5C15.9183 19.5 19.5 15.9183 19.5 11.5C19.5 7.08172 15.9183 3.5 11.5 3.5C7.08172 3.5 3.5 7.08172 3.5 11.5C3.5 15.9183 7.08172 19.5 11.5 19.5Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M21.5 21.5L17.15 17.15"  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        {%- if site.preferences.search.shortcut_hint.enabled -%}
        <div class="search-shortcut disable-select">
            <kbd class="disable-select">Shift</kbd>
            <kbd class="disable-select">s</kbd>
        </div>
        {%- endif -%}
        <label for="search-input"></label>
        <input type="text" id="search-input" autocomplete="off" placeholder="Search {{site.heading}}..."/>
        <div id="search-results" class="search-results"></div>
    </div>
    <script type="text/javascript" src="/assets/js/vendor/lunr/lunr.min.js"></script>
    <script type="text/javascript" src="/assets/js/vendor/jquery/jquery-3.5.1.js"></script>
    <script src="/assets/js/Search.js"></script>
  {%- endif -%}
</header>
