<div class="container">
  <nav class="pagination" role="pagination">
    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
      <ul class="pagination pagination-sm">
        {% if paginator.previous_page %}
          <li class="pagination-link"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
        {% else %}
          <li class="pagination-link disabled"><span aria-hidden="true">&laquo;</span></li>
        {% endif %}

        <li class="pagination-link" ><a href="/">First</a></li>

        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <li class="active pagination-link"><a>{{ page }}<span class="sr-only">(current)</span></a></li>
          {% elsif page == 1 %}
            <li class="pagination-link"><a href="/">{{ page }}</a></li>
          {% else %}
            <li class="pagination-link"><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
          {% endif %}
        {% endfor %}

        <li class="pagination-link"><a href="/page/{{ paginator.total_pages }}/#/">Last</a></li>

        {% if paginator.next_page %}
          <li class="pagination-link"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
        {% else %}
          <li class="disabled pagination-link"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
  </nav>
</div>

<script>
    var postWrapperId = 'card-wrapper';
    var paginatePath = '/page/'
    new InfiniteScroll(paginatePath, postWrapperId);
</script>
