{% if page.tutorial_previous or page.tutorial_next %}
  <nav class="previousnext">
    {% if page.tutorial_previous %}
      <a href="{{ page.tutorial_previous | relative_url }}" class="previousnext--pager">{{ "Previous" }}</a>
    {% else %}
      <a href="#" class="previousnext--pager disabled">{{ "Previous" }}</a>
    {% endif %}
    {% if page.tutorial_next %}
      <a href="{{ page.tutorial_next | relative_url }}" class="previousnext--pager">{{ "Next" }}</a>
    {% else %}
      <a href="#" class="previousnext--pager disabled">{{ "Next" }}</a>
    {% endif %}
  </nav>
{% endif %}
