<script>
  (function() { /* DON'T EDIT BELOW THIS LINE */
    var d = document, s = d.createElement('script');
    s.src = 'https://utteranc.es/client.js';
    s.setAttribute('repo', "{{ site.preferences.utterances.repo }}");
    s.setAttribute('issue-term', "{{ site.preferences.utterances.issue-term }}");
    s.setAttribute('theme', "{{ site.preferences.utterances.theme }}");
    s.setAttribute('crossorigin', "{{ site.preferences.utterances.crossorigin }}");
    (d.head || d.body).appendChild(s);
  })();
</script>
