/* ==========================================================================
   Dark Theme
   ========================================================================== */

/* Colors */
/*
--primary-bg-color: hsl(0, 0%, 20%);
--secondary-bg-color: hsl(0, 0%, 20%);
--ternary-bg-color: hsl(0, 0%, 20%);
--quaternary-bg-color: hsl(214, 50%, 50%);
--quinary-bg-color: hsl(0, 0%, 20%);

--primary-border-color: hsl(0, 0%, 98%);
--secondary-border-color: hsl(0, 0%, 98%);
--ternary-border-color: hsl(0, 0%, 98%);

--primary-box-shadow-color: hsl(0, 0%, 86.7%);
--secondary-box-shadow-color: hsl(0, 0%, 81.2%);

--primary-text-color: hsl(0, 0%, 96%);
--secondary-text-color: hsl(0, 0%, 53.3%);
--tertiary-text-color: hsl(0, 0%, 43.4%);

--horizontal-rule-color: rgb(228, 227, 226);
--anchor-text-color: hsl(214, 50%, 50%);
--anchor-link-color: hsl(214, 50%, 50%);
--search-placeholder-color: hsl(0, 0%, 60.0%);
--searchbox-shadow-color:  hsl(204, 63.0%, 78.8%);
--heading-font-family: Georgia, serif;
--primary-font-family: sans-serif;
--secondary-font-family: sans-serif;
*/
