/* ==========================================================================
   Light Theme
   ========================================================================== */
/*
White: #FFFFFF
Very Light Gray Mostly White: #F7F7F7
Gray: #E8E8E8

Light Gray: #EDEDED
Very Light Gray: #E0E0E0

Very Light Gray: #dedede
Light Gray: #CFCFCF


Very dark gray: #545454
Dark Gray: #878787
Very Light Gray: #6E6E6E

Light Grayish Orange: #E4E3E2
Moderate Blue: #4082C4
Very dark (mostly black) blue: #262c31
Dark Gray: #999999
VerySoftBlue: #a8d0eb

*/


$primary-bg-color: #FFFFFF;
$secondary-bg-color: #F7F7F7;
$ternary-bg-color: #E8E8E8;
$quaternary-bg-color: #EDEDED;
$quinary-bg-color: #FFFFFF;

$primary-border-color: #F7F7F7;
$secondary-border-color: #E8E8E8;
$ternary-border-color: #E0E0E0;

$primary-box-shadow-color: #DEDEDE;
$secondary-box-shadow-color: #CFCFCF;

$primary-text-color: #545454;
$secondary-text-color: #878787;
$tertiary-text-color: #6E6E6E;

$horizontal-rule-color: #E4E3E2;
$anchor-text-color: #4082C4;
$search-placeholder-color: #878787;
$searchbox-shadow-color:  #545454;

$about-background-color: #545454;
$footer-border-color: #545454;
$contact-hover-color: #545454;


//$heading-font-family: sans-serif !default;
//$primary-font-family: sans-serif !default;
//$secondary-font-family: sans-serif !default;

$font-family: sans-serif !default;
