/* ==========================================================================
   Light Theme
   ========================================================================== */

/* Colors */
/*
--primary-bg-color: hsl(0, 0%, 100%);
--secondary-bg-color: hsl(0, 0%, 96.9%);
--ternary-bg-color: hsl(0, 0%, 91.4%);
--quaternary-bg-color: hsl(0, 0%, 93%);
--quinary-bg-color: hsl(0, 100%, 100%);

--primary-border-color: hsl(0, 0%, 96.9%);
--secondary-border-color: hsl(0, 0%, 91.4%);
--ternary-border-color: hsl(0, 0%, 87.5%);

--primary-box-shadow-color: hsl(0, 0%, 86.7%);
--secondary-box-shadow-color: hsl(0, 0%, 81.2%);

--primary-text-color: hsl(0, 0%, 33.3%);
--secondary-text-color: hsl(0, 0%, 53.3%);
--tertiary-text-color: hsl(0, 0%, 43.4%);

--horizontal-rule-color: rgb(228, 227, 226);
--anchor-text-color: hsl(210, 52.8%, 51.0%);
--anchor-link-color: hsl(205, 12%, 70%);
--search-placeholder-color: hsl(0, 0%, 60.0%);
--searchbox-shadow-color:  hsl(204, 63.0%, 78.8%);
--heading-font-family: Georgia, serif;
--primary-font-family: sans-serif;
--secondary-font-family: sans-serif;
*/
$primary-bg-color: hsl(0, 0%, 100%);
$secondary-bg-color: hsl(0, 0%, 96.9%);
$ternary-bg-color: hsl(0, 0%, 91.4%);
$quaternary-bg-color: hsl(0, 0%, 93%);
$quinary-bg-color: hsl(0, 100%, 100%);

$primary-border-color: hsl(0, 0%, 96.9%);
$secondary-border-color: hsl(0, 0%, 91.4%);
$ternary-border-color: hsl(0, 0%, 87.5%);

$primary-box-shadow-color: hsl(0, 0%, 86.7%);
$secondary-box-shadow-color: hsl(0, 0%, 81.2%);

$primary-text-color: hsl(0, 0%, 33.3%);
$secondary-text-color: hsl(0, 0%, 53.3%);
$tertiary-text-color: hsl(0, 0%, 43.4%);

$horizontal-rule-color: rgb(228, 227, 226);
$anchor-text-color: hsl(210, 52.8%, 51.0%);
$anchor-link-color: hsl(205, 12%, 70%);
$search-placeholder-color: hsl(0, 0%, 60.0%);
$searchbox-shadow-color:  hsl(204, 63.0%, 78.8%);
$heading-font-family: Georgia, serif;
$primary-font-family: sans-serif;
$secondary-font-family: sans-serif;
