/* ==========================================================================
   Dark Theme
   ========================================================================== */

  $primary-bg-color: #000000;
  $secondary-bg-color: #000000;
  $ternary-bg-color: #E8E8E8;
  $quaternary-bg-color: #EDEDED;
  $quinary-bg-color: #FFFFFF;

  $primary-border-color: #F7F7F7;
  $secondary-border-color: #E8E8E8;
  $ternary-border-color: #E0E0E0;

  $primary-box-shadow-color: #DEDEDE;
  $secondary-box-shadow-color: #CFCFCF;

  $primary-text-color: #545454;
  $secondary-text-color: #878787;
  $tertiary-text-color: #6E6E6E;

  $horizontal-rule-color: #E4E3E2;
  $anchor-text-color: #4082C4;
  $search-placeholder-color: #878787;
  $searchbox-shadow-color:  #545454;

  $footer-border-color: #545454;
  $contact-hover-color: #545454;
  $back-to-top-color: #545454;
  $button-hover-color:#545454;

  $font-family: sans-serif !default;
