/* ==========================================================================
   Comments
   ========================================================================== */

//$comment-font-size: $base-font-size !default;

//
// Staticman new comment form
//
.comments {
  /*
    input, select, textarea, label, button {
        font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
        color: $text-color;
    }
    */

    fieldset {
        border: none;
        padding: 0;
    }

    textarea, input {
        //background-color: $text-area-bg-color;
    }

    // each staticman text field is wrapped in this div
    .textfield {
        max-width: 100%;
        padding: 0.5rem 0;
    }

    // fields except the comment field get this class too
    // to keep them a reasonable size
    .narrowfield {
        width: 500px;
    }

    .hp {
        display: none;
    }

    textarea {
        vertical-align: top;
    }

    .textfield__input {
        border: 1px solid $primary-box-shadow-color;
        padding: 4px 5px;
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        font-size: inherit;
    }
    .textfield__area {
        border: 1px solid $primary-box-shadow-color;
        padding: 4px 5px;
        width: 100%;
        height: 150px;
        box-sizing: border-box;
        font-size: inherit;
    }

    .notify-me, .g-recaptcha {
        padding: 0.5rem 0;
    }
    .button {
        background-color: $quaternary-bg-color;
        box-shadow:  0 1px 8px $primary-box-shadow-color;
        border: 1px solid $secondary-border-color;
        color: $primary-text-color;
        padding: 5px 10px;
        overflow: hidden;
        font-size: inherit;
        cursor: pointer;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        margin: 4px 0px 0px 0px;
    }

    //
    // Staticman existing comments
    //
    .comment__new {
        padding: 0px 0px 14px 0px;
    }
    .comment__author {
        //color: ld-select(#6b6b6b, $brand-color);
    }
    .comment__admin_tag {
        font-size: 0.8em;
        //border-color: $primary-border-color;
        border-style: solid;
        border-width: 1px;
        background-color: ld-select(#bfb, #050);
        border-radius: 2em;
        padding: 3px 4px 2px 4px;
        vertical-align: middle;
    }
    .comment__date {
        //font-size: $small-font-size;
    }
    .comment__body {
        //font-size: $comment-font-size;
    }
    .comment__meta {
        text-align: left;
        //color: $brand-color;
        //font-size: $small-font-size;
    }
    .comments__existing {
        padding: 8px 0px 0px 0px;
    }
    .comment {
        //border-top: 0px solid $brand-color-light;
        padding: 0px 0px 0px 0px;
        margin-bottom: 1em;
    }
    .comment.child {
        margin-left: 3em;
    }
    .comment__reply-link {
        //color: $brand-color;
        //font-size: $small-font-size;
        cursor: pointer;
    }

}

//
// Pop-up modal window for Staticman comments
//
.show-modal {
    overflow: hidden;
    position: relative;
}
.show-modal:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    //background-color: rgba($background-color, 0.5);
}

.show-modal .modal {
    display: block;
}

.modal {
    display: none;
    position: fixed;
    width: 330px;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    min-height: 0;
    z-index: 9999;
    box-shadow: 0 1px 8px $primary-box-shadow-color;
    padding: 16px;
    background: $primary-bg-color;
    overflow: hidden;
    box-sizing: border-box;
}

.mdl-card__supporting-text {
    max-height: 400px;
    overflow: auto;
    padding: 16px;
}

.modal-title {
    margin-bottom: 0px;
}

.disabled {
    input,
    button,
    textarea,
    label {
        pointer-events: none;
        cursor: not-allowed;
        filter: alpha(opacity=65);
        box-shadow: none;
        opacity: 0.65;
    }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  line-height: 1;
  position: relative;
  top: -0.125em; // fine-tune alignment
  vertical-align: middle;
  width: 1em;

  &.spin {
    animation: spin 2s infinite linear;
  }
}
#comment-section, #comment-section * {
  box-sizing: border-box;
}
