/* ==========================================================================
   Pagination
   ========================================================================== */
   /* pagination */
   .pagination-link{
       padding:15px;
       background-color: rgb(32, 32, 34);
       text-decoration: none;
   }
   .pagination-link a:hover{
       background-color: rgb(28, 28, 30);
       text-decoration: none;
   }
   .pagination {
       display: -ms-flexbox;
       display: flex;
       padding-left: 0;
       list-style: none;
       border-radius: .25rem;
   }
