/* ==========================================================================
   Related
   ========================================================================== */
.related {
  background-color: $secondary-bg-color;
  width: 100%;
  min-height: 100px;
  border-radius: 10px;
}

.related h4 {
  color: $secondary-text-color;
  padding-top: 20px;
  padding-left: 20px;
}

.related-wrapper {
  column-count: 2 !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.related-group {
  margin-left: 10px;
  width: 90% !important;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.related-group:hover {
  background-color: $quaternary-bg-color !important;
}

.related-group a {
  text-decoration: none;
}

.related-title {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px !important;
  font-family: $primary-font-family !important;
  font-weight: 600;
}

.related-excerpt:before {
  content: "\"";
}

.related-excerpt:after {
  content: "\"";
}

.related-excerpt {
  color: $primary-text-color !important;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 12px !important;
}
