/* ==========================================================================
   Search
   ========================================================================== */

.searchbar input[type="text"] {
  position: relative;
  padding-left: 50px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 0;
  font-family: $secondary-font-family !important;
  color: $primary-text-color;
  font-size: 18px;
  border-bottom: 1px solid $primary-border-color;
  background-color: $secondary-bg-color;
}

::placeholder {
  color: $search-placeholder-color;
  font-size: 18px;
  font-family: $secondary-font-family !important;
}

.search-icon {
  position: absolute;
  vertical-align: middle;
  box-sizing: content-box;
  margin-top: -2px;
  padding-left: 20px;
  stroke: $secondary-text-color !important;
  padding-top: 12.5px;
  z-index: 1;
}

.searchbar input[type="text"]:focus {
  border-color: $primary-border-color;
  box-shadow: 0 0 8px 0 $searchbox-shadow-color;
}

.searchbar input[type=text]:hover {
  background-color: $quinary-bg-color;
}

.searchbar input[type=text]:active,
.searchbar input[type=text]:focus {
  background-color: $quinary-bg-color;
  outline: none;
}

.search_res:hover {
  background-color: $secondary-bg-color;
}

.search_res:hover > a {
  font-weight: 600;
}

.search-results {
  left: 0;
  display: none;
  width: 100%;
  overflow-y: auto;
  background-color: $primary-bg-color;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
}

.search-result-title {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.search-results-list {
  padding-left: 0;
  margin-bottom: 0.25rem;
  list-style: none;
  font-size: 14px !important;
}

.search-results-list-item {
  padding: 0;
  margin: 0;
}

.search-result {
  display: block;
  padding: 0.25rem 0.75rem 0.25rem 20px;
  text-decoration: none !important;
}

.search-result.active,
.search-result:hover {
  background-color: $secondary-bg-color;
}

.search-result.active > .search-result-title,
.search-result:hover > .search-result-title {
  font-weight: 600;
}

.svg-doc {
  padding-right: 2px;
  stroke: $secondary-text-color !important;
}

.search-result.active > .svg-doc,
.search-result:hover > .svg-doc {
  stroke: #555 !important;
}

.search-result-doc {
  display: flex;
  align-items: center;
  word-wrap: break-word;
}

.search-result-doc.search-result-doc-parent {
  opacity: 0.5;
  font-size: 12px !important;
}

.search-result-doc .search-result-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  color: #7253ed;
  flex-shrink: 0;
}

.search-result-doc .search-result-doc-title {
  padding-left: 0.1rem;
  overflow: auto;
}

.search-result-section {
  margin-left: 1.5rem;
  word-wrap: break-word;
}

.search-result-previews {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  margin-left: 0.5rem;
  word-wrap: break-word;
  border-left: 1px solid;
  border-left-color: $secondary-border-color;
  font-size: 11px !important;
}

.search-result-preview span {
  color: $tertiary-text-color !important;
}

.search-result-preview + .search-result-preview {
  margin-top: 0.25rem;
}

.search-result-highlight {
  font-weight: bold;
}

.search-no-result {
  padding: 0.5rem 0.75rem;
  font-family: $primary-font-family !important;
  color: $primary-text-color !important;
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity ease 400ms, width 0s 400ms, height 0s 400ms;
}

.search-active .search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.search-active .search-input-wrap {
  height: 4rem;
  border-radius: 0;
}

.search-active .search-results {
  display: block;
}

.search-active .search-overlay {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity ease 400ms, width 0s, height 0s;
}

//Buttons
/* Blogposts: Post-heading, Post-subheading, Post-content, Related Posts*/
.main-site-subheader {
  border-bottom: 1px solid $primary-border-color;
  padding-left: 15px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-item:nth-of-type(1) {
  padding-left: 5px !important;
}

.menu-item {
  flex-basis: auto;
  border-right: 1px solid $primary-border-color;
  display: flex;
  flex-direction: column;
  padding: 5px 17px 5px 14px;
  text-decoration: none;
}

.menu-item-icon {
  margin-top: 7px;
  align-self: center;
  justify-self: center;
  stroke: $primary-text-color;
}

.menu-item-text {
  margin-top: 5px;
  margin-left: auto;
  font-weight: 600;
  font-size: 0.7rem;
  font-family: $primary-font-family;
  color: $primary-text-color;
}
