/* ==========================================================================
   Tag
   ========================================================================== */

.tags {
  margin: 0;
  padding: 10px;
  li {
    display: inline-block;
    margin: 5px;
    list-style: none;
    a {
      text-decoration: none;
      color: $primary-text-color;
      display: inline-block;
      padding: 5px 10px;
      border: 1px solid $gray;
      background-color: $lightgray;
      transition: all .3s;
      &:hover {
        background-color: $gray;
      }
    }
  }
}
