<!DOCTYPE html>
<html lang="en">
{% include Head.html %}
<body>

  <div class="wrapper">
    {% assign content_ = content | replace: '<table', '<div class="table-wrapper"><table' %}
    {% assign content_ = content_ | replace: '</table>', '</table></div>' %}
    {{ content_ }}
  </div>

{% include Analytics.html %}
<!--<script type="text/javascript" src="{{site.baseurl}}/assets/vendor/lightbox/lightbox.js"></script>-->
<!--<link rel="stylesheet" href="{{site.baseurl}}/assets/vendor/lightbox/lightbox.css">-->
<script src="{{site.baseurl}}/assets/js/CopyCode.js"></script>
<!--<script src="{{site.baseurl}}/assets/js/FadeTransitions.js"></script>-->
<!--<script>fadeInPage();</script>-->
</body>
</html>

