---
layout: Default
---
<aside class="sidebar">
  <header>
    <div class="about">
      <div class="about-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.user.image %}{{site.user.image}}{% endif %}" alt="{{site.user.name}}"></a>
      </div>
      <div class="about-name">{{site.user.name}}</div>
      <p>{{site.user.about}}</p>
    </div>
  </header> <!-- End Header -->
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        {% if site.user.contact.twitter %}
          <li><a href="https://twitter.com/{{ site.user.contact.twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.user.contact.facebook %}
          <li><a href="https://facebook.com/{{ site.user.contact.facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.user.contact.github %}
          <li class="github"><a href="http://github.com/{{site.user.contact.github}}" target="_blank"><i class="fa fa-github"></i></a></li>
        {% endif %}
        {% if site.user.contact.linkedin %}
          <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.user.contact.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        {% endif %}
        {% if site.user.contact.email %}
          <li class="email"><a href="mailto:{{site.user.contact.email}}"><i class="fa fa-envelope-o"></i></a></li>
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.user.name}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-header">
  {%- include Header.html -%}
</div>
<div class="content-box clearfix">
  {{ content }}
</div>
{%- include ContextMenu.html -%}
{%- include BackToTop.html -%}
