@import 'normalize';
@import 'variables';

*, *::after, *::before {
  box-sizing: border-box;
}
.wrapper {
  max-width: auto;
  position: relative;
}

.post, .article-page {
  background-color: #fff;
}

::-moz-selection {
  background: rgba(38, 57, 89, 0.8);
  color: $white;
}

::selection {
  background: rgba(38, 57, 89, 0.8);
  color: $white;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* - - - - - - - - - - Home Page Styles - - - - - - - - - - */
@import 'parts/home-page';

/* - - - - - - - - - - Post Page Styles - - - - - - - - - - */
@import 'parts/post-page';

/* - - - - - - - - - - Tag Styles - - - - - - - - - - */
@import 'parts/tag';

/* - - - - - - - - - - Media Styles - - - - - - - - - - */
@import 'media';
